 <div class = "form-div">
  <h1> <%= nombre %> announcement</h1>
 <%= form_for(@post) do |f| %>
 <% @post.errors.full_messages.each do |message| %>
  <div class= "be-red">
   * <%= message%>
   
  </div>
 <% end %>
 
  <%= f.label "Ride the content",:class => "field-label" %>
  <div class = "field">
     
      <%= f.text_area :content, placeholder: "Contenido", :class => "field-input" %>
  </div>
   <%= f.label "Expiration date",:class => "field-label" %><br>
   <div class = "field">
       
      <%= f.date_select :expire, placeholder: "Seen", class:"field-input"%>
  </div>
  <br>
    <div class = "actions">
      <%= f.submit nombre, :class => "field-submit" %>
   </div>
     
 
 <% end %>
  </div>