<%= render "header" %>
<div class= "div-table-announcements">
 <h2>All announcements</h2>
<table class= "table">
    <thead>
        <tr>
            <th>Content</th>
            <th>expire</th>
            <th>seen</th>
            <th>Created by</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

<% @posts.each do |poster| %>
    <tbody>
     <tr>
        <td><%= link_to poster.content, poster %></td>
        <td><%= poster.expire %></td>
        <td><%= poster.seen %></td>
        <td><%= User.find(poster.owner_id).email %></td>
        <td><%= link_to "Delete", poster , method: :delete ,data: {confirm: "Are you sure?"} %> </td>
        <td><%= link_to "Edit", edit_post_path(poster) %> </td>
    </tr> 
    </tbody>
  
<% end %>
</table>
</div>