<%= render "header" %>
<div class= "div-table-announcements">
 <h2>All announcements</h2>
<table class= "table">
    <thead>
        <tr>
            <th>Content</th>
            <th>expire</th>
            <th>seen</th>
            <th>Created by</th>
        </tr>
    </thead>
<% @posts.each do |poster| %>
    
    <tbody>
     <tr>
        <td><%= link_to poster.content, poster %></td>
        <td><%= poster.expire %></td>
        <td><%= poster.seen %></td>
        <td><%= poster.owner.email %></td>
    </tr> 
    </tbody>
<% end %>
</table>
</div>