 <%= render "header" %>
 <div class= "div-table-announcements">
<h1> Not seen announcements</h1>

<table class= "table">
    <thead>
    <tr>
        <th>Content</th>
        <th>expire</th>
        <th>seen</th>
        <th>Created by</th>
    </tr>
    </thead>

<% @posts_filter.each do |post| %>
    <tbody>
    <tr>
        <td><%= post.content %></td>
        <td><%= post.expire %></td>
        <td><%= post.seen %></td>
        <td><%= User.find(post.owner_id).email %></td>
    </tr>
    </tbody>

<% end %>
</table>
</div>