<%= render "header" %>
<header>
    <div class="form-div-h1">
        <h1>Your announcement was created successfully</h1>
     </div>
     <% (1..10).each do |f| %>
         <br>
     <% end %>
 
    <div class="form-div">
    <h4><%='Content: '+ @post.content %></h4>

    <h4><%= 'Seen:    '+@post.seen.to_s %></h4>

    <h4><%= 'Expiration date:    '+ @post.expire.to_s %></h4>

    <%= link_to 'Send Notification',remote: true %>
    </div>
   
    
    
</header>